@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

:root {
	/* --page-bg: #f8f5f2; */
  /* --page-bg: #f1ede9; */
	--page-bg: #f0efe7;
	/* --article-bg: #fffefd; */
	--article-bg: #fcfcfa;
	--faint-text: #999;
}

#title-block-header {
	text-align: center;
	padding-top: 64px;
	padding-bottom: 64px;
}

body {
	margin: 0 auto;
	position: relative;
	max-width: 1152px;
	background: var(--page-bg);
	color: #222;
}

.left-column {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 48px;
	border: 0px;
	width: 816px;
}

article {
	padding: 18px;
	font: normal 16px "PT Serif", Georgia, serif;
	background: var(--article-bg);
	hyphens: auto;
}

hr {
	color: var(--article-bg);
}

.date {
	color: var(--faint-text);
	font: 13px "Open Sans", "Lucida Sans Unicode", sans-serif;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	text-decoration: none;
}

.date:hover {
	color: #0080ca;
}

nav {
  width: 192px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 48px;
  padding: 0 40px 24px 40px;
  font: 13px/20px "Open Sans", "Lucida Sans Unicode", sans-serif;
  color: #8d6021;
}

nav a {
	color: #b47a29;
}

nav a:not(:hover) {
	text-decoration: none;
}

nav img.profpic {
	display: block;
	margin: -8px auto 16px;
	border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: var(--article-bg);
  width: 192px;
  border: solid 8px var(--article-bg);
  border-radius: 4px;
}

.backtop {
	position: absolute;
	bottom: -2em;
	right: 2px;
	color: var(--faint-text);
	font-size: 13px;
}

.index-entry {
	padding: 0.5em 1em 0.5em 1em;
}