@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 60em;
    font-family: "Verdana", "Helvetica", "Open Sans", "Arial", sans-serif;
    line-height: 1.5;
    padding-top: 1em;
}

main {
    padding-bottom: 2em;
    border-bottom: solid 0.1em
}

pre {
    padding: 1em;
    border: 1px solid;
}

code {
    padding: 0.3em;
}

code, pre {
    font-family: "Noto Sans Mono", "Roboto", monospace;
    border-radius: 8px;
    font-size: 0.8em;
}

h2 {
    padding-top: 1em;
    line-height: 1em;
}

footer {
    padding-top: 0.5em;
    font-size: smaller;
}

.index_entry {
    line-height: 2em;
    list-style-type: none;
}

.theme_switch {
    float: right;
    margin: 4px 2px;
    cursor: pointer;
}

.header_link {
    padding-right: 0.25em;
}

time {
    padding-right: 1em;
    font-weight: 500;
}